body {
  background-color: whitesmoke;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(350deg);
  }
}


.input-group-text {
  text-decoration: none;
  display: none;
}

.btn-secondary {
  background-color: rgb(74, 145, 112);
}
.btn{
  border-radius: 5%;
cursor: pointer;
font-size: xx-large;

}
.titulo-subtitulo{
  position: relative;
  top: 0px;
}
.form-control{
  border-radius: 20px;
  font-size: x-large;
  padding-top: 30px;
  padding-inline-end: 40px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

 
.containerHeader {
border-radius: 2%;
  display: flex;
  flex-direction: column;
  top: 0%;
  left: 33%;
  color: black;
  font-size: larger;
  height: 230px;
  width: 853px;
}
.containerNotas{
  position: relative;
  height: 470px;
  font-size: xx-large;
  width: 670px;
  left: 18%;
  top: 0px;

}
.nome{
 
  padding-bottom: 50px;
}

.notaUm{
  padding-inline: 40px;
  padding-bottom: 50px;
}
.notaDois{
  
  padding-bottom: 50px;
}
.notaTres{
  padding-inline: 40px;
  padding-bottom: 50px;
}
.notaQuatro{
  
  padding-bottom: 50px;
}
.fas.fa-pencil-alt{
 padding-right: 20px;
  
}
  

.tabelaNotas{
  left: 40%;
  position: fixed;
  flex-flow: row wrap;
  position: fixed;
  flex-direction: column;
  flex-wrap: nowrap;
  top: 40%;
  
}

.row{
  flex-flow: row wrap;
}